@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}
.header, .footer {
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.left-links, .right-links {
  display: flex;
  gap: 25px;
}

.footer {
  background-color: #eeeeee;
  margin-top: auto;
}

.content {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.buttons {
  padding: 20px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
